<div class="container">
<h1>今週の運動</h1>
	<%= column_chart @this_week_data.group_by_day(:fixed_day).count %>
<h1>先週の運動</h1>
	<%= column_chart @last_week_data.group_by_day(:fixed_day).count %>
<h1>今月の運動</h1>
	<%= column_chart @this_month_data.group_by_week(:fixed_day).count%>
</div>

